body{
    align-items: centerS;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 0%;
    background-image:url(background3.jpeg) ;
 background-repeat: no-repeat;
  background-size: cover;
    
}
.login{
align-items: center;
    background: rgba(255,255,255,0.09);
    border-style: solid;
   border-color: turquoise;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: (0,0,0,4);
    text-align: center;
    padding-bottom: 5%;
    


}
.login h1{
    color: aqua;
   
}
.boxes{
    border-color: red;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;

    
}
#button{
    
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: aqua;
    /* margin-bottom: 10%; */
    /* padding-bottom: 10%; */

}
#another{
    font-weight: 700;
   color: red;
}
