body {
  background-color: #e9a6a6;
}
#login_button {
  font-weight: 900;
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: red;
  border-color: red;
  color: white;
  border-radius: 15px;
}
.top {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(255, 255, 255);
  font-size: large;
  text-decoration: none;
}

.heading {
  font-size: 60px;
  text-align: center;
  color: #3f3351;
}
h1 {
  color: #1f1d36;
  text-emphasis: none;
  margin-left: 10%;
  margin-top: 10%;
}
.contact {
  text-align: center;
  font-size: xx-large;
}
.profile {
  margin-left: 10%;
  height: 300px;
  width: 300px;
  border-radius: 150px;
}
.profile:hover {
  box-shadow: 0 0 5px 2.5px rgba(0, 140, 186, 0.5);
}
img {
  height: 40px;
  width: 40px;
  margin-left: 0.5em;
}
img:hover {
  box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}
.person {
  display: inline-flex;
  margin: 5%;
}
